# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4

[*.php]
insert_final_newline = true

# Unix-style newlines with a newline ending every file
[{*.yml,*.yaml}]
indent_size = 2