parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 8
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
