<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         backupGlobals="true"
         colors="true"
         testdox="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>
