{% extends 'user_main.html.twig' %}

{% block admin_user_main_form %}

    <tr>
        <td class="edittext" style="color: red">
            {{ translate({ ident: "OEMODULETEMPLATE_ALLOW_GREETING" }) }}
        </td>
        <td class="edittext">
            <input type="checkbox" name="editval[oxuser__oetmactivegreeting]" class="edittext" value='1'>
            {% include "inputhelp.html.twig" with {'sHelpId': help_id("OEMODULETEMPLATE_HELP_ALLOW_GREETING"), 'sHelpText': help_text("OEMODULETEMPLATE_HELP_ALLOW_GREETING")} %}
        </td>
    </tr>

    {{ parent() }}
{% endblock %}
